---
layout: default
title: Photography
---
<article id="main">
    <header>
      <h2>Beauty in the eye of the beholder</h2>
      <p>"A great photograph is one that fully expresses what one feels, in the deepest sense, about what is being photographed." ― Ansel Adams</p>
    </header>

    <section id="three" class="wrapper">
    <div class="inner">
      <header class="major">
        <center>
          <h2>Photography</h2>
          <p>This is a collection of photographs that I've taken over the years that aim to capture the essence of my experiences. <br>Enjoy!</p>
        </center>
      </header>
      <ul class="features">
        {% for photo in site.data.photos %}
          {{ photo["some_tag"] }}<br>
          {{ photo.some_tag }}<br>
          {{ photo.title }}<br>
          {{ photo }}<br>
          test
        {% endfor %}

        <li class="icon fa-flag-o">
          <h3>Tortor Ut</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
      </ul>
    </div>
  </section>
  {% include cta.html %}
</article>
