<div>
  {% assign currentYear = site.posts | first | map: date | date: "%Y" %}
  {% assign postsPerYear = "" | split: 'nothing' %}
  {% assign currentPostsPerYear = 0 %}
  <h2>Archive</h2>

  <!-- Go through once and count the number per year -->
  {% for post in site.posts %}

    {% assign postYear = post.date | date: "%Y" %}
    {% if postYear != currentYear %}
      {% assign currentYear = post.date | date: "%Y" %}
      {% assign postsPerYear = postsPerYear | push: currentPostsPerYear %}
      {% assign currentPostsPerYear = 0 %}
    {% endif %}
    {% assign currentPostsPerYear = currentPostsPerYear | plus: 1 %}
  {% endfor %}

  <!-- Now go through and print them out -->
  {% assign yearIndex = 1 %}
  {% for post in site.posts %}

    {% assign postYear = post.date | date: "%Y" %}
    {% if postYear != currentYear %}
      {% assign currentYear = post.date | date: "%Y" %}
      {% assign currentPostsPerYear = postsPerYear[yearIndex] %}
      {% assign yearIndex = yearIndex | plus: 1 %}
      <h2>{{ currentYear }} ({{currentPostsPerYear}})</h2>
    {% endif %}
    
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}
    </li>
  {% endfor %}
</div>
