<div>
  <h4>Archive</h4>

  <!-- Go through once and count the number per year -->
  <ul class="alt">
    {% for post in site.posts %}
      {% assign postYear = post.date | date: "%Y" %}
      {% if postYear != currentYear %}
        {% if firstLoop == false %}
          <li class="archive-nav" id="archive{{currentYear}}">
          <h5 id="archive-nav{{ currentYear }}"><a href="#archive-nav{{ currentYear }}">{{ currentYear }}</a> ({{post_count}})</h5>


          <ul class="alt" style="display: none">
            {{ post_list }}
          </ul>
        {% endif %}

        {% assign post_count = 0 %}
        {% assign post_list = '' %}
        {% assign currentYear = post.date | date: "%Y" %}

      {% endif %}
      {% capture post_list %}
      {{ post_list }}
      <li>
        {{post.date | date: "%b"}} - <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% assign post_count = post_count | plus: 1 %}
      {% endcapture %}
      {% assign firstLoop = false %}
    {% endfor %}
    <li id="archive{{currentYear}}">
      <h5>{{ currentYear }} ({{post_count}})</h5>
      <ul class="alt" style="display: none">
        {{ post_list }}
      </ul>
    </li>
  </ul>
</div>
