<section id="cta" class="wrapper style4">
    <center>
        <ul class="icons major">
            <li><a href="https://www.linkedin.com/in/sam-ng-4530843" class="icon fa-linkedin major style2"></a></li>
            <li><a href="https://twitter.com/samng96" class="icon fa-twitter major style1"></a></li>
            <li><a href="mailto:sam@samng.me" class="icon fa-envelope-o major orange"></a></li>
            <li><a href="http://about.me/sam.ng" class="icon fa-male major style3"></a></li>
        </ul>
    </center>
</section>
