<div class="tagCloud">
    {% assign total = site.posts.size %}
    {% for tag in site.tags | map: "0" | sort %}
      {% assign weight = tag[1].size | times: 100 | divided_by: total %}
      {% assign weightStyle = 'weight1' %}
      {% if weight >= 50 %}
        {% assign weightStyle = 'weight5' %}
      {% elsif weight >= 35 %}
        {% assign weightStyle = 'weight4' %}
      {% elsif weight >= 20 %}
        {% assign weightStyle = 'weight3' %}
      {% elsif weight >= 10 %}
        {% assign weightStyle = 'weight2' %}
      {% endif %}
      <span class="tag {{weightStyle}}">
        <a href="/tags/{{tag[0]}}/">{{tag[0]}}</a> ({{tag[1].size}})</span>
    {% endfor %}
</div>
