<div class="tagCloud">
    {% assign total = site.posts.size %}
    {% assign tags = site.tags %}
    {% assign tagNames = "" | split: '3' %}

    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% assign tagNames = tagNames | push: tag %}
      {% endfor %}
    {% endfor %}

    {% assign tagNames = tagNames | uniq | sort %}

    {% for tag in tagNames %}
      {% assign tagPosts = site.tags[tag] %}
      {% assign weight = tagPosts.size | times: 100 | divided_by: total %}
      {% assign weightStyle = 'weight1' %}
      {% if weight >= 25 %}
        {% assign weightStyle = 'weight5' %}
      {% elsif weight >= 15 %}
        {% assign weightStyle = 'weight4' %}
      {% elsif weight >= 8 %}
        {% assign weightStyle = 'weight3' %}
      {% elsif weight >= 3 %}
        {% assign weightStyle = 'weight2' %}
      {% endif %}
      <span class="tag {{weightStyle}}">
        <a href="/tags/{{tag | slugify }}/">{{tag}}</a> ({{tagPosts.size}})</span>
    {% endfor %}
</div>
