---
layout: default
---
<article id="main">

    <header>
        <h2>Archive</h2>
        <p>{{ site.description }}</p>
    </header>

    <section class="wrapper style5">
        <div class="row inner">
            <div class="9u">
                <h2><div class="links"><a href="{{ page.url }}">{{ page.title }}</a></div></h2>
                <p>{{ content }}</p>
                <div class="links">
                    Posted on <a href="{{ page.url }}">{{ page.date | date: "%B %-d, %Y" }}</a><br>
                    {% if page.tags != nil %}
                    Tags:
                        {% for tag in page.tags %}
                            #<a href="/tags/{{ tag | downcase | replace: ' ', '-' | url_encode }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="3u">
                {% include sidenav.html %}
            </div>
        </div>
    </section>

</article>
