---
layout: default
---
<article id="main">
    <header>
      <h2>{{ page.title }}</h2>
    </header>

    <section class="wrapper">
      <script>
        var albumInfo = (function(){
          return {
            baseUrl: {{ page.azure_location | jsonify }},
            needsPassword: {{ page.needs_password | default: false }}
          };
        })();
      </script>
      <div class="inner">
        <div class="passwordPrompt" style="display:none;">
          <h3>{{ page.title }} requires a password</h3>
          <h5 class="passwordError" style="display:none;">Invalid password, try again</h5>
          <input type="password" id="albumPassword" />
          <button type="button" id="viewAlbum" class="button special" >View</button>
        </div>
        <ul class="albumPhotos">
        </ul>
      </div>
    </section>
  {% include cta.html %}
</article>
