---
layout: default
---
<article id="main">

    <header>
        <h2>Letters to my son</h2>
        <p>A collection of thoughts and lessons I've learned along the way for my little man, and anyone else that's interested.</p>
    </header>

    <section class="wrapper style5">
        <div class="row inner">
            <div class="9u">
{% for post in site.posts %}
  {% if post.tags contains page.tag_name %}
    <h2><div class="links"><a href="{{ post.url }}">{{ post.title }}</a></div></h2>
    <p>{{ post.content }}</p>
    <div class="links">
        Posted on <a href="{{ post.url }}">{{ post.date | date: "%B %-d, %Y" }}</a><br>
        {% if post.tags != nil %}
        Tags:
            {% for tag in post.tags %}
                #<a href="/tags/{{ tag | downcase | replace: ' ', '-' | url_encode }}">{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </div>
    <hr/>

  {% endif %}
{% endfor %}
            <div class="3u">
                {% include tag_list.html %}
            </div>
        </div>
    </section>

</article>
